CMakeCache.txt
CMakeFiles/
iem
*.swp
*.swo
cmake_install.cmake
libglsw.a
Makefile
_build/
build/
external/FreeImage/Debug/
external/FreeImage/Release/
external/FreeImage/FreeImage.dir/
external/FreeImage/FreeImageTest.dir/
external/FreeImage/*.cmake
external/glfw-3.1.2/src/*.cmake
external/gli/*.cmake
imgui.ini
.DS_Store
.vscode/ipch/
/out
